@import '../../../scss/variable.scss';


.dropdown {
  position: relative;
  label{
    padding: 10px 0;
    display: inline-block;
    .arrow{
      margin-left: 10px;
    }
  }
  &:hover {
    label{
      color:$theme-base-color;
      .arrow{
        border-color:$theme-base-color ;
      }
      .icon{
        fill:$btn-dark-bg;
      }
    }
    ul.dropdown-menu {
      display: block;
    }
  }
}

.dropdown-menu{
  width: 210px;
  transform: translateX(-50%);
  border: 1px solid $grey-color;
  position: absolute;
  right: 0;
  left: 50%;
  margin: 0 auto;
  background: #fff;
  border-radius: 0;
  box-shadow: 0 1px 10px #d0d3d4;
  display: none;
  z-index: 1;
  &:before{
    content: "";
    position: absolute;
    top: -14px;
    right: 0;
    left: 0;
    width: 0;
    margin: 0 auto;
    border-left:7px solid transparent;
    border-right:7px solid transparent;
    border-bottom:7px solid $grey-color;
    border-top:7px solid transparent;
  }
  &:after{
    content: "";
    position: absolute;
    top: -10px;
    right: 0;
    width: 0;
    left: 0;
    margin: 0 auto;
    border-left:5px solid transparent;
    border-right:5px solid transparent;
    border-bottom:5px solid $white-color;
    border-top:5px solid transparent;
  }
  li.dropdown-item{
    display: block;
    padding: 7px 15px;
    font-size: 15px;
    text-align: left;
    &:hover{
      background: $btn-dark-bg;
      color:$white-color;
    }
  }
}
.header-right-nav li:last-child{
  .dropdown-menu{
    right: 0;
    left: auto;
    transform: translateX(0);
    &:after{
      right: 17px;
      left: auto;
    }
    &:before {
      right: 15px;
      left: auto;
    }
  }
}