.page-not-found {
  position: absolute;
  top: 50%;
  font-family: calibri, sans-serif;
  left: 50%;
  width: auto;
  margin: auto;
  height: auto;
  transform: translate(-50%);
  h1, p {
    text-align: center;
  }
}