@mixin transition($args) {
  @include vendor-prefixes(transition, $args);
  transition: $args;
}

@mixin transform($val-args) {
  @include vendor-prefixes(transform, $val-args);
  transform: $val-args;
}

@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
}

@mixin multiLineEllipsis($lineHeight: 1.2em, $lineCount: 1, $bgColor: white){ 
overflow: hidden;
 position: relative;
  line-height: $lineHeight;
   max-height: $lineHeight * $lineCount;
    padding-right: 0;
     &:before {
      content: '...';
       position: absolute;
        right: 0;
         bottom: 0; 
         right: 0;
          bottom: 0;
           background:
            $bgColor;
             height: 0.9em; 
             width: 0.9em;
              vertical-align:middle; line-height: 0.5em;
                } &:after { content: ''; position: absolute; right: 0; width: 1em; height: 1em; margin-top: 0.2em; background: $bgColor; }}



