.custom-modal {
  width: 100%;
  position: fixed;
  height: 100vh;
  background: rgba(135,80,138,0.5);
  top: 0;
  .modal-wrap {
    margin: 50px auto;
    background: #fff;
    box-shadow: 0 0 15px #000;
    border-radius: 5px;
    overflow: hidden;
    padding: 20px 60px;
    header h1 {
      font-size: 32px;
      font-weight: bold;
      color: #87508A;
    }
    .modal-body {
      max-height: calc(100vh - 230px);
      min-height: calc(100vh - 270px);
      margin: 20px 0;
      overflow: auto;
    }
  }
}