@import "../../scss/variable";

.icon-cart{
  background: url(../../public/images/cart-icon.png) center center;
  width: 25px;
  height: 25px;
  display: inline-block;
  vertical-align: middle;
}

.icon-login{
  background: url(../../public/images/login-icon.png) center center;
  width: 22px;
  height: 24px;
  display: inline-block;
  vertical-align: middle;
}

.header{
  padding: 20px 0;
  .header-logo{
    width: 120px;
    display: inline-block;
    vertical-align: middle;
  }
  .header-right-nav{
    width: calc(100% - 125px);
    display: inline-block;
    text-align: right;
    vertical-align: middle;
    &.text-align-left {
      text-align: left;
      padding-left: 5rem;
    }
    ul{
      list-style: none;
      padding: 0;
    }
    li{
      display: inline-block;
      padding-left: 30px;
      font-size: 18px;
      line-height: 25px;
      cursor: pointer;
      i{
        margin-right: 10px;
      }
      a{
        color:$base-color;
        text-decoration: none;
        &:hover{
          color:$btn-dark-bg;
        }
      }
    }
  }
}

.pull-right {
  float: right;
}