@import "../../scss/variable";

.icon-cart{
  background: url(../../public/images/cart-icon.png) center center;
  width: 25px;
  height: 25px;
  display: inline-block;
  vertical-align: middle;
}

.icon-login{
  background: url(../../public/images/login-icon.png) center center;
  width: 22px;
  height: 24px;
  display: inline-block;
  vertical-align: middle;
}

.header{
  padding: 20px 0;
  .header-logo{
    width: 120px;
    display: inline-block;
    vertical-align: middle;
  }
  .header-right-nav{
    width: calc(100% - 125px);
    display: inline-block;
    text-align: right;
    vertical-align: middle;
    &.text-align-left {
      text-align: left;
      padding-left: 5rem;
    }
    ul{
      list-style: none;
      padding: 0;
    }
    li{
      display: inline-block;
      padding-left: 30px;
      font-size: 18px;
      line-height: 25px;
      position: relative;
      a{
        display: block;
        padding: 10px 0;
        &:hover{
          color:$btn-dark-bg;
        }
      }
      label{
        padding: 10px 0;
        display: inline-block;
      }
      ul{
        width: 180px;
        border: 1px solid $grey-color;
        position: absolute;
        right: 0;
        border-radius: 5px;
        display: none;
        &:before{
          content: "";
          position: absolute;
          top: -21px;
          right: 15px;
          border-left:10px solid transparent;
          border-right:10px solid transparent;
          border-bottom:10px solid $grey-color;
          border-top:10px solid transparent;
        }
        &:after{
          content: "";
          position: absolute;
          top: -18px;
          right: 16px;
          border-left:9px solid transparent;
          border-right:9px solid transparent;
          border-bottom:9px solid $white-color;
          border-top:9px solid transparent;
        }
        li{
          padding: 0;
          display: block;
          a{
            padding: 5px 15px;
            &:hover{
              background: $btn-dark-bg;
              color:$white-color;
            }
          }
        }
      }
      &:hover ul{
        display: block;
      }
      i{
        margin-right: 10px;
      }
      a{
        color:$base-color;
        text-decoration: none;
        &:hover{
          color:$btn-dark-bg;
        }
      }
    }
  }
}

.pull-right {
  float: right;
}