@import "../../scss/variable";

.footer{
  background: url(../../public/images/fotter-line.jpg) repeat-x left -3px;
  padding: 30px 0;
  text-align: center;
  .container{
    max-width: 1200px;
    margin: 0 auto;
  }
  p{
    font-size: 18px;
    color: $base-color;
    margin: 0;
  }
}