@import "../../scss/variable";

.footer{
  margin-top: 40px;
  background: url(/public/images/footer-line.jpg) repeat-x left -3px;
  padding: 30px 0;
  text-align: center;
  p{
    font-size: 18px;
    color: $base-color;
    margin: 0;
  }
}