@import "../../../scss/variable";


table{
  width: 100%;
  text-align: left;
  thead{
    background: $theme-base-color;
    color: $white-color;
    font-size: 18px;
  }
  th{
    padding: 10px 15px;
  }
  tbody{
    font-size: 16px;
  }
  tr{
    &:nth-child(even){
      background:rgba(0,0,0,0.1);
    }
    td{
      padding: 10px 15px;
    }
  }
}