@import '../../node_modules/react-tabs/style/react-tabs.scss';
@import 'variable';
@import './mixing/mixing';
@import '../../node_modules/react-tabs/style/react-tabs';

/*Reset code */
*,html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;

}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption,marquee, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  background: $body-bg;
  color: $base-color;
  font-size: $base-font-size;
  font-family: $base-font-family;
  line-height: $base-line-height;
  font-weight: normal;
  padding: 0;
  margin: 0;
}


h1,h2,h3,h4,h5,h6{
  font-family: $base-font-family;
  line-height: $base-line-height;
  color:$title-color;
  font-weight: normal;
}

img{
  max-width:100%;
}
.container{
  max-width: 1200px;
  margin: 0 auto;
}

.arrow{
  border: solid black;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 3px;
  vertical-align: middle;
  margin-left: 5px;
  &.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }

  &.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }

  &.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    margin-top: 3px;
  }

  &.down {
    margin-top: -5px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
}


/* reset code end */
