/* Base */
$body-bg:#fff;
$title-color:#000000;
$base-font-size:14px;
$base-line-heigh:1.3;
$base-font-family:Calibri,Arial,sans-serif;
$base-color:#666666;

/* modal */

$modal-bg :#f3f3f3;
$modal-border-color:#cccccc;

/* Form */

$input-bg:#FFF;
$input-color:#666666;
$label-color:#777777;
$error-meg-color:#F00;


/* Button */

$btn-light-bg:#cfb9d0;
$btn-light-border:#cfb9d0;
$btn-light-color:#333;


$btn-dark-bg:#87508a;
$btn-dark-border:#87508a;
$btn-light-color:#fff;
